<!DOCTYPE html>
<html>
  <head>
    <title >404 NOT FOUND</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% includes menu %> 
    <h1>404 NOT FOUND</h1>
    <p>soory we can not find that! </p>
  </body>
</html>
