<!DOCTYPE html>
<html>
  <head>
    <title >404 NOT FOUND</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% includes menu %> 
    <h1><% =status %>  NOT FOUND</h1>
    <p><% =msg %>  </p>
    <p>请刷新页面  </p>

  </body>
</html>
